.nom{
    padding-left: 10px;
}
table{
    margin-left: 10px;
}

th.right{
    padding-right: 70px;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
     color: #4d2195; 
}

.tabs .tab a {
    color: rgba(32, 19, 62, 0.7);
}

.tabs .indicator {
    background-color: #4d2195;
    
}

.btn{
    background-color: #4d2195;
}

.btn:hover{
    background-color: #090979;
}